apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: portfolio-pulse-data
  namespace: portfolio-pulse
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi
